{% extends 'master/master_page.html' %}
{% load static %}

{% block title %}
    Additional Service
{% endblock %}


{% block section %}
<div id="profile_page">
    <!-- Header Start -->
    <div class="container-fluid bg-primary py-5 mb-5 page-header">
        <div class="container py-5">
            <div class="row justify-content-center">
                <div class="col-lg-10 text-center">
                    <h1 class="display-3 text-white animated slideInDown">Additional Service</h1>
                    <p class="text-white text-justify">
                        At Education Umbrella, we offer a range of additional services to support your study abroad journey, including assistance with online payments for tuition and other expenses, obtaining essential documents like NIF (Tax Identification Number), NISS (Social Security Number), and SNS (National Health Service registration). We also provide document attestation, notary services, and Foreign Ministry authentication to ensure your documents meet international requirements. These services are designed to simplify the process, giving you peace of mind as you prepare for your academic adventure.
                    </p>
                    <!-- <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center">
                            <li class="breadcrumb-item"><a class="text-white" href="#">Home</a></li>
                            <li class="breadcrumb-item"><a class="text-white" href="#">Pages</a></li>
                            <li class="breadcrumb-item text-white active" aria-current="page">About</li>
                        </ol>
                    </nav> -->
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->

    <!-- NIF Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px;">
                    <div class="position-relative h-100">
                        <img class="img-fluid position-absolute w-100 h-100" src="{% static '/images/others/payment.jpeg' %}" alt="" style="object-fit: cover;">
                    </div>
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                    <h6 class="section-title bg-white text-start text-primary pe-3">Payment</h6>
                    <h1 class="mb-4">Online Payment Assistance</h1>
                    <p class="mb-4 text-justify">
                        Managing international payments can often be a challenging and time-consuming process, especially when dealing with multiple currencies and financial regulations. At EduUmbrella, we simplify this for you by providing comprehensive online payment assistance.
                    </p>
                    <p class="mb-4 text-justify">
                        Our service ensures secure and hassle-free payment of tuition fees, application charges, and other academic expenses to universities and institutions worldwide. We guide you through the entire process, helping you avoid common errors and delays. Whether it’s setting up reliable payment methods, handling currency exchange, or ensuring compliance with international financial protocols, our team is here to assist.
                    </p>
                    <p class="mb-4 text-justify">
                        With EduUmbrella’s online payment assistance, you can focus on your education while we handle the complexities of cross-border transactions.
                    </p>
                    <div class="row gy-2 gx-4 mb-4">
                        <div class="col-sm-6">
                            <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Secure Payment Processing</p>
                        </div>
                        <div class="col-sm-6">
                            <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Currency Exchange Support</p>
                        </div>
                        <div class="col-sm-6">
                            <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Timely Payment Handling</p>
                        </div>
                        <div class="col-sm-6">
                            <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Multi-Currency Transactions</p>
                        </div>
                        <div class="col-sm-6">
                            <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Error-Free Processing</p>
                        </div>
                        <div class="col-sm-6">
                            <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Compliance Assurance</p>
                        </div>
                    </div>
                    <!-- <a class="btn btn-primary py-3 px-5 mt-2" href="">Read More</a> -->
                </div>
            </div>
        </div>
    </div>
    <!-- Payment End -->

    <!-- NIF Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                    <h6 class="section-title bg-white text-start text-primary pe-3">NIF (Número de Identificação Fiscal)</h6>
                    <h1 class="mb-4">Tax Identification Number</h1>

                    <p class="mb-4 text-justify">
                        The NIF, or Número de Identificação Fiscal, is a vital tax identification number required for financial, legal, and administrative transactions in many countries, particularly in Europe. It is essential for tasks such as opening a bank account, signing rental agreements, paying taxes, or engaging in any activity that involves financial or legal commitments.
                    </p>
                    <p class="mb-4 text-justify">
                        At EduUmbrella, we make the process of obtaining a NIF simple and stress-free. Our team provides detailed guidance to ensure all necessary documents, such as your passport or residence permit, are prepared accurately. For students unable to be physically present, we also offer representation services to handle the process on your behalf.
                    </p>
                    <p class="mb-4 text-justify">
                        We prioritize efficient processing to help you get your NIF quickly, enabling you to focus on other aspects of your move. Whether you need the NIF for financial transactions, renting accommodation, or fulfilling tax obligations, EduUmbrella ensures you’re fully prepared and compliant. With our support, managing financial responsibilities in your host country becomes hassle-free.
                    </p>
                    <div class="row gy-2 gx-4 mb-4">
                        <div class="col-sm-6">
                            <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Guidance on Application</p>
                        </div>
                        <div class="col-sm-6">
                            <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Document Verification</p>
                        </div>
                        <div class="col-sm-6">
                            <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Representation Services</p>
                        </div>
                        <div class="col-sm-6">
                            <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Expedited Processing</p>
                        </div>
                        <div class="col-sm-6">
                            <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Financial Setup Assistance</p>
                        </div>
                        <div class="col-sm-6">
                            <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Ongoing Support</p>
                        </div>
                    </div>
                    <!-- <a class="btn btn-primary py-3 px-5 mt-2" href="">Read More</a> -->
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s" style="min-height: 400px;">
                    <div class="position-relative h-100">
                        <img class="img-fluid position-absolute w-100 h-100" src="{% static '/images/others/NIF.jpeg' %}" alt="" style="object-fit: cover;">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- NIF End -->
</div>
{% endblock %}