{% extends 'master/master_page.html' %}
{% load static %}

{% block title %}
    {{ category }}: Education Umbrella
{% endblock %}


{% block section %}
<div id="profile_page">
    <!-- Header Start -->
    <div class="container-fluid bg-primary py-5 mb-5 page-header">
        <div class="container py-5">
            <div class="row justify-content-center">
                <div class="col-lg-10 text-center">
                    <h1 class="display-3 text-white animated slideInDown">{{ category }} Degrees</h1>
                    <p class="text-white text-justify">
                        {{ para01 }}
                    </p>
                    <p class="text-white text-justify">
                        {{ para02 }}
                    </p>
                    <p class="text-white text-justify">
                        {{ para03 }}
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->
</div>
{% endblock %}