{% extends 'master/master_page.html' %}
{% load static %}

{% block title %}
    Courses
{% endblock %}


{% block section %}
<div id="profile_page">
    <!-- Header Start -->
    <div class="container-fluid bg-primary py-5 mb-5 page-header">
        <div class="container py-5">
            <div class="row justify-content-center">
                <div class="col-lg-10 text-center">
                    <h1 class="display-3 text-white animated slideInDown">Courses</h1>
                    <p class="text-white text-justify">
                        At Education Umbrella, we offer expert guidance to help you find the perfect course that aligns with your academic goals and career aspirations. Whether you’re interested in undergraduate, postgraduate, or professional programs, we work with top universities worldwide to provide a diverse range of courses across various fields of study. From business and engineering to arts, healthcare, and technology, we ensure that you have access to high-quality education that matches your interests and ambitions. Let us help you make an informed decision and take the next step toward your global education journey.
                    </p>
                    <!-- <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center">
                            <li class="breadcrumb-item"><a class="text-white" href="#">Home</a></li>
                            <li class="breadcrumb-item"><a class="text-white" href="#">Pages</a></li>
                            <li class="breadcrumb-item text-white active" aria-current="page">About</li>
                        </ol>
                    </nav> -->
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->

    <!-- About Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px;">
                    <div class="position-relative h-100">
                        <img class="img-fluid position-absolute w-100 h-100" src="{% static '/img/cat-4.jpg' %}" alt="" style="object-fit: cover;">
                    </div>
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                    <h6 class="section-title bg-white text-start text-primary pe-3">Single / Language Course</h6>
                    <h1 class="mb-4">Welcome to the Courses</h1>
                    <p style="text-align: justify;" class="mb-4">
                        Learn Portuguese with specialized courses designed to enhance your language skills. At Education Umbrella, we connect you with top institutions offering comprehensive Portuguese language programs, whether you're a beginner or looking to advance your proficiency.    
                    </p>
                    <p style="text-align: justify;" class="mb-4">
                        Our team will guide you in selecting the perfect course to meet your goals, whether for academic, professional, or personal growth. With tailored support, we ensure you have the tools to succeed in mastering the Portuguese language.
                    </p>
                    <p class="mb-4">
                        Start your language learning journey with Education Umbrella today!
                    </p>
                    <div class="row gy-2 gx-4 mb-4">
                        <div class="col-sm-6">
                            <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Beginner to Advanced Levels</p>
                        </div>
                        <div class="col-sm-6">
                            <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Customized Learning Plans</p>
                        </div>
                        <div class="col-sm-6">
                            <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Exam Preparation</p>
                        </div>
                        <div class="col-sm-6">
                            <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Interactive Learning</p>
                        </div>
                        <div class="col-sm-6">
                            <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Flexible Formats</p>
                        </div>
                        <div class="col-sm-6">
                            <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Cultural Insights</p>
                        </div>
                    </div>
                    <!-- <a class="btn btn-primary py-3 px-5 mt-2" href="">Read More</a> -->
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->
</div>
{% endblock %}